<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>switch-theme-toggle demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h2>What does it do?</h2>
  <p>
    This component should be used if there is a <code>default</code> and an <code>alternative</code> theme selectable by
    user via <a href="https://beta.ionicframework.com/docs/api/toggle" target="_blank"
                title="Open ionic ion-toggle documentation">toggle</a>.
  </p>

  <h2>Example</h2>
  <p>
    This page is displayed in default ionic colors. By clicking the toggle button below the theme is switched to a
    vibrant one.
  </p>
  <ion-list>
    <ion-item>
      <ion-label>
        Vibrant theme
      </ion-label>
      <theme-switch-toggle [themes]="themes"></theme-switch-toggle>
    </ion-item>
  </ion-list>
  <p>
    Colors:
  </p>
  <ion-list>
    <ion-item color="primary">Primary</ion-item>
    <ion-item color="secondary">Secondary</ion-item>
    <ion-item color="tertiary">Tertiary</ion-item>
    <ion-item color="success">Success</ion-item>
    <ion-item color="warning">Warning</ion-item>
    <ion-item color="danger">Danger</ion-item>
    <ion-item color="dark">Dark</ion-item>
    <ion-item color="medium">Medium</ion-item>
    <ion-item color="light">Light</ion-item>
  </ion-list>

  <h2>Page code</h2>
  <a href="https://github.com/jonathanheilmann/ionic-angular-theme/tree/master/src/app/pages/switch-theme-toggle" target="_blank"
     title="Open GitHub to view page code">View page code on Github</a>

  <h2>Component instructions/documentation</h2>
  <a
    href="https://github.com/jonathanheilmann/ionic-angular-theme/tree/master/projects/ionic-angular-theme-switch#theme-switch-toggle"
    target="_blank" title="Open GitHub to view component instructions/documentation">View component
    instructions/documentation on Github</a>

</ion-content>
