<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>ionic-angular-switch</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item-group>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" [class.active-item]="selectedPath === p.url">
                <ion-label>{{p.title}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider [color]="'medium'">
              <ion-label>Service</ion-label>
            </ion-item-divider>

            <ion-menu-toggle auto-hide="false" *ngFor="let p of servicePages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" [class.active-item]="selectedPath === p.url">
                <ion-label>{{p.title}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider [color]="'medium'">
              <ion-label>Components</ion-label>
            </ion-item-divider>

            <ion-menu-toggle auto-hide="false" *ngFor="let p of componentPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" [class.active-item]="selectedPath === p.url">
                <ion-label>{{p.title}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider [color]="'medium'">
              <ion-label>About</ion-label>
            </ion-item-divider>

            <ion-menu-toggle auto-hide="false">
              <ion-item [routerDirection]="'root'" [routerLink]="'/imprint'" [class.active-item]="selectedPath === '/imprint'">
                <ion-label>Imprint</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item [routerDirection]="'root'" [routerLink]="'/privacy-policy'" [class.active-item]="selectedPath === '/privacy-policy'">
                <ion-label>Privacy Policy</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-item-group>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
